.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.6em;
}

.inputGroup,
.formButtonRow {
  padding-left: 0.3em;
}

.label {
  margin-bottom: 0.2em;
  font-size: 0.9em;
}

.formLegend {
  margin-bottom: 0.9em;
  border-bottom: 1px solid var(--rcx-color-primary-border);
  font-size: 1.1em;
}

.fieldControl,
.fieldComplexControl {
  box-shadow: 0px 0px 2px 0px var(--rcx-color-shadow);
  border: var(--rcx-form-control-border);
  border-radius: var(--rcx-border-radius);
}

.fieldControl {
  padding: 0.2em 0.3em;
  font-size: 1em;
}

.fieldControl[data-focus],
.fieldComplexControl:focus-within {
  box-shadow: 0px 0px 5px 0px var(--rcx-color-shadow);
  outline: 0;
}

.fieldSet {
  border-radius: var(--rcx-border-radius);
}

.formButtonRow {
  gap: var(--rcx-button-row-gap);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 0.9em;
}

.formButtonRow[data-not-in-form="true"] {
  padding-left: 0;
  margin-top: 0;
}
