/* main wrapper holding the pagination buttons. Expands across the bottom of the table */
.paginationWrapper {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.2em;
  padding-top: 0.6em;
}

/* expands to push the buttons to the left and right */
.paginationGrow {
  flex: 1;
  max-width: 100px;
}

@media (max-width: 768px) {
  .paginationGrow {
    max-width: unset; /** grow to full size when full screen */
  }
}
