/** expand the table to the max width of the page */
.recipeTable {
  width: 100%;
}

/*
  - add the wrapper background
  - put some padding around the edges to ensure the values don't just run up against it
  - add a shadow to give the wrapper some 3d dimension
*/
.recipeWrapper {
  background-color: var(--rcx-color-secondary-light);
  border-radius: var(--rcx-border-radius);
  box-shadow: 0px 0px 2px 0px var(--rcx-color-shadow);
  padding: 0.2em;
  width: 100%;
}

.recipeListRow,
.recipeListHeaderRow {
  padding: 0.2em 0.6em;
}

.recipeListRow {
  &:first-child {
    border-top: solid 1px var(--rcx-color-primary-border);
  }
  border-bottom: solid 1px var(--rcx-color-primary-border);
  background-color: var(--rcx-color-primary-row);

  /** Zebra stripe the table */
  &:nth-child(even) {
    background-color: transparent;
  }

  /** hover effect to make it easier for the end user to see what row they are hovering  over */
  &:hover,
  &:focus {
    cursor: pointer;

    background-color: var(--rcx-color-primary-row-hover);

    &:nth-child(even) {
      background-color: var(--rcx-color-secondary-row-hover);
    }
  }
}

.recipeListHeaderRow,
.recipeListRow {
  display: grid;
  grid-template-columns: 33% 66%;
}

@media (max-width: 768px) {
  .recipeListHeaderRow,
  .recipeListRow {
    display: grid;
    padding: 0.1em 0.3em;
  }
  .hideSmallScreen {
    display: none;
  }
  .tableColumnRecipeName {
    font-size: 1.2em;
  }
  .recipeListRow {
    grid-template-columns: unset;
  }
}
