.editorMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: solid black;
  border-width: 1px 1px 0px 1px;
  background-color: white;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  button {
    border: 0;
    background-color: transparent;
    &:hover {
      background: black;
      color: white;
    }
  }
}

.menuDivider {
  background: gray;
  width: 1px;
  height: 1.1em;
  margin-top: 0.2em;
}

.detailsEditor {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  outline: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
