.detailsEditor,
.detailsEditorFullScreen {
  outline: none;
  display: flex;
  flex-direction: column;
  background-color: var(--rcx-color-lightest);
}

.textArea {
  outline: none;
  border: var(--rcx-form-control-border);
  border-bottom-left-radius: var(--rcx-border-radius);
  border-bottom-right-radius: var(--rcx-border-radius);
}

.detailsEditorFullScreen {
  width: 100dvw;
  height: 100dvh;
  z-index: 1000;
  overflow: scroll;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.textAreaFullScreen {
  resize: none;
  outline: none;
  border: 0;
  flex: 1;
}

.dialogPanel {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
