.glowingShimmerSkeleton {
  background: linear-gradient(
    90deg,
    var(--rcx-color-secondary-light),
    oklch(83.7% 0.128 66.29),
    var(--rcx-color-secondary-light)
  );
  background-size: 200% 100%;
  animation: shimmer-glow 4s linear infinite;
  border-radius: var(--rcx-border-radius);
  overflow: hidden;
  display: block;
  width: calc(55%);
  height: 1em;
  margin: 0.2em;
}
.fourFifthSkeleton {
  width: 85%;
  animation: shimmer-glow 3.3s linear infinite;
}

.threeFourSkeleton {
  width: 66%;
  animation: shimmer-glow 2.7s linear infinite;
}

.boxSkeleton {
  width: 1.2em;
  animation: shimmer-glow 2.9s linear infinite;
}

@keyframes shimmer-glow {
  0% {
    background-position: -200% 0; /* Start the gradient off-screen to the left */
  }
  100% {
    background-position: 200% 0; /* Move the gradient off-screen to the right */
  }
}

.hourglass {
  background: linear-gradient(
    90deg,
    var(--rcx-color-secondary-light),
    oklch(83.7% 0.128 66.29),
    var(--rcx-color-secondary-light)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.6em;
}
