.tableWrapper {
  width: 100%;
  background-color: var(--rcx-color-secondary-light);
  border: 1px solid var(--rcx-color-primary-border);
  border-radius: var(--rcx-border-radius);
  padding: 0 0.3rem;
}

.table {
  width: 100%;
}

.tableHeadCell {
  background-color: var(--rcx-color-secondary-light);
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  font-weight: 400;
}

.tableHead {
  background-color: var(--rcx-color-secondary-light);
}

.tableHeadCell,
.tableBodyCell {
  padding: 0.2rem 0.6rem;
}

.tableTitle {
  font-size: 1.2em;
}

.tableBodyRow {
  &:first-child {
    border-top: solid 2px var(--rcx-color-primary-border);
  }
  border-bottom: solid 1px var(--rcx-color-primary-border);
  background-color: var(--rcx-color-primary-row);

  /** Zebra stripe the table */
  &:nth-child(even) {
    background-color: var(--rcx-color-secondary-light);
  }

  /** hover effect to make it easier for the end user to see what row they are hovering  over */
  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--rcx-color-primary-row-hover);

    &:nth-child(even) {
      background-color: var(--rcx-color-secondary-row-hover);
    }
  }
}

.tableBodyRow,
.tableHeadRow {
  display: grid;
  grid-template-columns: 33% 66%;
}

@media (max-width: 768px) {
  .tableBodyRow,
  .tableHeadRow {
    display: grid;
    padding: 0.1em 0.3em;
  }
  .hideSmallScreen {
    display: none;
  }
  .titleColumnCell {
    font-size: 1.2em;
  }
  .tableBodyRow {
    grid-template-columns: unset;
  }
}

.tableMessage {
  font-size: 1em;
  display: block;
  text-align: center;
  padding-top: 1.6em;
  padding-bottom: 0.8em;
  cursor: default;
}

.tableMessageRow,
.tableMessageCell {
  display: block;
}

.tableMessageRow {
  &:hover,
  &:focus {
    background-color: var(--rcx-color-primary-row);
  }
}

/* main wrapper holding the pagination buttons. Expands across the bottom of the table */
.paginationRow {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.2em;
  padding-top: 0.6em;
  padding-bottom: 0.3rem;
  background-color: var(--rcx-color-secondary-light);
}

/* expands to push the buttons to the left and right */
.paginationGrow {
  flex: 1;
}
