.tryAgainButton {
  border-radius: 5px;
}

.tryAgainButton {
  border: 1px solid oklch(93.2% 0.032 255.585);
  color: oklch(97.1% 0.013 17.38);
  background-color: oklch(62.3% 0.214 259.815);
  &:hover {
    background-color: oklch(54.6% 0.245 262.881);
  }
  margin-left: 5px;
}
