.link {
  display: inline-block;
  list-style: none;
}
.navBar {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 8px;
  font-size: 1.2em;
  li {
    list-style: none;
  }
  width: 100%;
  flex: 0 0 auto;
}
.grow {
  flex: 1;
}

.pageTitle {
  display: none;
}

@media (max-width: 768px) {
  .appTitle {
    display: none;
  }
  .pageTitle {
    display: block;
  }
}

.appNavigationDiv {
  position: sticky;
  top: 0;
  z-index: 100;
}
