.commonButton {
  padding: 0.1em 0.3em;
  border-radius: var(--rcx-border-radius);
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 0px 2px 0px var(--rcx-color-shadow);
}

.commonButton[data-hover],
.commonButton[data-hover][data-button-type="hidden"],
.commonButton[data-hover][data-button-type="dotted"] {
  box-shadow: 0px 0px 8px 0px var(--rcx-color-shadow);
  cursor: pointer;
}

.commonButton[data-button-type="hidden"] {
  border: transparent;
  background-color: transparent;
  box-shadow: none;
}

.commonButton[data-button-type="dotted"] {
  border-style: dotted;
  box-shadow: none;
  background: transparent;
}
