.success[data-button-type="dotted"] {
  color: var(--rcx-success-hover-bg-color);
  border-color: var(--rcx-success-hover-bg-color);
}

.success[data-hover],
.success[data-button-type="dotted"][data-hover],
.success[data-button-type="hidden"][data-hover],
.success[data-focus] {
  background-color: var(--rcx-success-hover-bg-color);
  color: var(--rcs-button-hover-text-color);
}

.success[data-active],
.success[data-button-type="dotted"][data-active],
.success[data-button-type="hidden"][data-active] {
  background-color: oklch(66.6% 0.179 58.318);
}

.success[data-disabled] {
  background-color: var(--rcx-color-secondary-light);
  color: oklch(70.8% 0 0);
  border-color: oklch(98% 0.016 73.684);
}

.success {
  border-color: oklch(75% 0.183 55.934);
  color: oklch(26.9% 0 0);
  background-color: oklch(83.7% 0.128 66.29);
}
