.dropDownButton {
  /* stack all text on top of each other so the size of the button is accurate */
  .textWrapper {
    display: grid;
    .visibleValue,
    .hiddenValue {
      grid-area: 1 / 1;
      font-weight: 100;
    }
    .hiddenValue {
      visibility: hidden;
    }
  }
}

/** container that appears when the button is pressed. Holds the drop down options. */
.dropDownOptionContainer {
  box-shadow: 0px 0px 2px 0px var(--rcx-color-shadow);
  border-radius: var(--rcx-border-radius);
  background: var(--rcx-color-lightest);

  /* entry in the drop down menu */
  .dropDownOption {
    background: var(--rcx-color-lightest);
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  /* hover effect for the pagination drop down menu item */
  .dropDownOption:hover {
    cursor: pointer;
    background-color: oklch(89.2% 0.058 10.001);
  }
}
